<!-- Header -->
    <mat-toolbar class="nav-bar" color="primary" (click)="closeNotification()">
        <button
            *ngIf="drawer.opened"
            type="button"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon>close</mat-icon>
        </button>
        <button
            *ngIf="!drawer.opened"
            type="button"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="tittle pointer" (click)="goToStart()" [hidden]="drawer.opened">EduconCESET</h1>
        <button class="notification" (click)="toggleNotification()" mat-icon-button><mat-icon>notifications</mat-icon></button>
        <button class="logout" (click)="this.loginService.logout()" mat-raised-button>Cerrar Sesión</button>
    </mat-toolbar>
    <div class="notification-card" *ngIf="openedNotification">
        <app-notification-card></app-notification-card>
    </div>
<!---->
        
<!--SideNav-->
    <mat-sidenav-container (click)="closeNotification()" fullscreen class="container">
        <mat-sidenav
            #drawer
            class="sidenav"
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-toolbar class="toolbar pointer" (click)="goToStart(drawer)" color="primary">EduconCESET</mat-toolbar>
            <mat-nav-list>
                <a 
                    mat-list-item
                    *ngIf="displayActivities()"
                    [ngClass]="{'selected' : this.router.url === '/inicio/portafolio'}"
                    [routerLink]="['portafolio']"
                    (click)="drawer.toggle()">
                    Portafolio
                </a>
                <a 
                    mat-list-item
                    *ngIf="displayActivities()"
                    [ngClass]="{'selected' : this.router.url === '/inicio/cohortes'}"
                    [routerLink]="['cohortes']"
                    (click)="drawer.toggle()">
                    Lista de Cohortes/Actividades
                </a>
                <a 
                    mat-list-item
                    *ngIf="displayRoles()"
                    [ngClass]="{'selected' : this.router.url === '/inicio/roles'}"
                    [routerLink]="['roles']"
                    (click)="drawer.toggle()">
                    Roles
                </a>
            </mat-nav-list>
            <button mat-icon-button style="bottom: 15px; position: absolute; right: 15px;"><mat-icon>settings</mat-icon></button>
        </mat-sidenav>
        <mat-sidenav-content (click)="toggleDrawer(drawer)" id="content">
            <!-- Body -->
                <router-outlet></router-outlet>
                <app-footer (click)="getActivity()" [ngClass]="{ 'footer': !scrollShowed }"></app-footer>
            <!---->
        </mat-sidenav-content>
    </mat-sidenav-container>
<!---->