<mat-card class="container">
  <div class="select">
    <mat-form-field>
      <mat-select placeholder="Favorite food" [formControl]="itemControl" [selected]="showDataForm()" required>
        <mat-option *ngFor="let item of budgetData" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card class="table" *ngIf="this.activityService.activity.budget.items[this.itemControl.value].expenditures">
    <mat-table #table [dataSource]="budgetItemDataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Descripción del Gasto </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="quant">
        <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{parseValue(item.quantity)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Valor Presupuestado </mat-header-cell>
        <mat-cell *matCellDef="let item"> ${{parseValue(item.value)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef> Costo Real </mat-header-cell>
        <mat-cell *matCellDef="let item"> ${{parseValue(item.realCost)}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="openDialog('edit', row)" (mouseenter)="this.mouseHovering = true" (mouseleave)="this.mouseHovering = false" class="item" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  <button mat-raised-button color="primary" class="full" (click)="openDialog('create')">Agregar Gasto</button>
  <div class="full">
    <button mat-raised-button color="primary" (click)="back()">Volver</button>
    <button mat-raised-button color="primary" (click)="save()">Guardar</button>
  </div>
</mat-card>
