.button {
    margin-left: 20%;
    color: white;
}

@media(max-width: 550px) {
    .button {
        margin-left: 20%
    }
}

.item:hover {
    cursor: pointer;
    background: #F5F5F5;
}

.container {
  width: 500px;
  margin: 25px auto;
}

.select > * {
  width: 100%;
}

.table {
  padding: 10px 20px 25px 10px;
  margin-bottom: 25px;
}

.add-button {
  right: 0;
  margin: 10px 50px 0 0;
  position: absolute;
}

.full {
  margin-top: 5px;
  width: 100%;
}

button.full {
  width: 98%;
  margin-left: 1%;
}

.full > button {
  width: 48%;
  margin-left: 1%;
}