.button {
    width: 49% !important;
}

.controls-form {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.controls-form > * {
    width: 100%;
    margin-bottom: 10px;
}

.horizontal-center {
    margin: 15px auto;
}

.pointer {
    cursor: pointer;
}

.recaptcha {
    padding-bottom: 10px;
}

@media(max-width: 400px) {
    .horizontal-center {
        margin-left: -3%;
    }
    
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

@media(max-width: 600px) {
    .center {
        position: absolute;
        width: 80%;
        min-width: 310px;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

@media(min-width: 600px) {
    div {
        margin: auto;
        padding: 0 5px;
        width: 420.45px;
    }

    .center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}